h1{
    display: grid;
    background-color: #061a5a;
    color: white;
    margin:0px 0px 0px 0px;
    font-size: 50px;
}
nav {
    display: flex;
    gap: 60px; 
    justify-content: center; 
    padding: 10px;
    background-color: #ececec;
    text-decoration: none;
}
#nv{
    color: #061a5a;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
#nv:hover{
    color: #0f47ff;
}

body{
    text-align: center;
    background: url('/BG.png') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    
}
h{
    font-size: 30px;
}
