h1 {
    display: grid;
    background-color: #061a5a;
    color: white;
    margin: 0px 0px 0px 0px;
    font-size: 60px;
}

nav {
    display: flex;
    gap: 60px;
    justify-content: center;
    padding: 10px;
    background-color: #ececec;
    text-decoration: none;
}

#nv {
    color: #061a5a;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

#nv:hover {
    color: #0f47ff;
}

body {
    text-align: center;
    background: url('/BG.png') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    margin: 0;

}

.form-box {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 750px;
    max-width: 90%;
    text-align: left;
    margin: 60px auto;
}

.form-box>h2 {
    font-size: 40px;
    color: #0c2b90;
    text-align: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#schedule {
    font-size: 20px;
    color: #0c2b90;
}

#things {
    list-style: none;
}

#thing {
    text-decoration: none;
    color: #0c2b90;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#thing:hover {
    color: #3a68fe;
}

.RemFromSch {
    width: 100%;
    padding: 12px;
    background-color: #1570c0;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

.RemFromSch:hover {
    background-color: #105b99;
}

.span {
    font-family: Arial, Helvetica, sans-serif;
}

.Newcat {
    width: 100%;
    padding: 12px;
    background-color: #1570c0;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
}

.Newcat:hover {
    background-color: #105b99;
}

#cat {
    text-decoration: none;
    color: #0c2b90;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.in-box {
    color: #0c2b90;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px;
}

.discription {
    font-size: 23px;
}

.BtnStyle {
    width: 100%;
    padding: 12px;
    background-color: #1570c0;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
}

.BtnStyle:hover {
    background-color: #105b99;
}
.descrp{
    width: 635px;
    height: 25px;
}
.name{
    height: 25px;
}
.name2{
    height: 25px;
    margin-bottom: 5px;
}